@{
    ViewData["Title"] = "Hakkımda";
}


<br /><br /><br /><br />

<h2>Merhaba ben Fatih. Şu anda bilgisayar mühendisiliği okumakta olan bir öğrenciyim.</h2>
<p>
    <h2>
        Bu sayfada yazılım üzerine kendi bildiklerimi
        insanlara ulaştırmaya çalışıyorum.
    </h2>
</p>
