@{
    ViewData["Title"] = "İletişim";
}



</br><br /><br /><br />


<h1>Bana aşağıdaki mail adresinden ulaşabilirsiniz.</h1>

<address>
    <strong>İletişim:</strong> <a href="mailto:fatiihtuna@gmail.com">fatiihtuna@gmail.com</a>
</address>
